html, body {
    background-color: rgb(225, 226, 231);
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.element-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

.app-title {
    font-variant-caps: small-caps;
}

.nav-tabs > li.active > a {
    color: #3c5a78;
    // font-size: 13px;
}
.nav-tabs > li > a {
    color: #FFF;
    // font-size: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3c5a78;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: #3c5a78;
    background-color: #FFF;
}

.nav-pills > .nav-link:not(.active) {
    color: #FFF;
    // font-size: 13px;
}

.card-body {
    padding: .25rem .75rem;
}

/* Stili customizzati Tabulator */
/* ******************************/
.tabulator .tabulator-footer {
    padding: 9px 10px !important;
}

/* Stili customizzati jsPanel */
/* ******************************/
// .jsPanel { z-index: 1040 !important; border-radius: 0px !important; }
.jsPanel .jsPanel-hdr { line-height: 2.1; }
.jsPanel .jsPanel-ftr.active { padding: 6px 8px; }
.jsPanel-depth-3 { box-shadow: none; border-radius: 2px; }
.jsPanel-headerlogo { font-size: 20px; }

/* Stili customizzati noUiSlider */
/* *******************************/

#timeline-panel {
    min-width: 480px;
    border-right: 3px solid $app-dark;
    border-left: 3px solid $app-dark;
}

#slider {
    width: 90%;
    height: 20px;
    margin: 5px 0 33px 20px;
    
}
.noUi-touch-area {
    background-color: $app-dark;
}

.noUi-target {
    border-radius: 1px !important;
}

.noUi-pips-horizontal {
    padding:2px 0 !important;
    height: 40px !important;
}

.noUi-value {
    font-size: 12px;
    color: $app-dark; 
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 8px !important;
    // background: $app-dark !important;
}

/* Stile custom per slider input opacità layer */
/* *********************************************/
#modis-opacity-slider, 
#otb-opacity-slider,
#dst-opacity-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  #modis-opacity-slider:hover, 
  #otb-opacity-slider:hover,
  #dst-opacity-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #modis-opacity-slider::-webkit-slider-thumb, 
  #otb-opacity-slider::-webkit-slider-thumb,
  #dst-opacity-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: $app-dark; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #modis-opacity-slider::-moz-range-thumb,
  #otb-opacity-slider::-moz-range-thumb,
  #dst-opacity-slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: $app-dark; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }