html, body {
    background-color: rgb(225, 226, 231);
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.element-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

.app-title {
    font-variant-caps: small-caps;
}

.nav-tabs > li.active > a {
    color: #3c5a78;
    // font-size: 13px;
}
.nav-tabs > li > a {
    color: #FFF;
    // font-size: 13px;
}

.card-body {
    padding: .75rem 1rem;
}

/* Stili customizzati Tabulator */
/* ******************************/
.tabulator .tabulator-footer {
    padding: 9px 10px !important;
}

/* Stili customizzati jsPanel */
/* ******************************/
.jsPanel { z-index: 1040 !important; }
.jsPanel .jsPanel-hdr { line-height: 2.1; }
.jsPanel .jsPanel-ftr.active { padding: 6px 8px; }
.jsPanel-depth-3 { box-shadow: none; border-radius: 2px; }
.jsPanel-headerlogo { font-size: 20px; }

/* Stili customizzati noUiSlider */
/* ******************************/
#slider {
    width: 90%;
    height: 20px;
    margin: 10px 0 33px 25px;
    
}
.noUi-touch-area {
    background-color: $app-dark;
}

.noUi-target {
    border-radius: 1px !important;
}

.noUi-pips-horizontal {
    padding:2px 0 !important;
    height: 40px !important;
}

.noUi-value {
    font-size: 12px;
    color: $app-dark; 
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 8px !important;
    // background: $app-dark !important;
}