container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: .25em;
    grid-template-rows: 92px 1fr 2px 350px;
    grid-template-columns: 1fr 2px minmax(200px, 450px);
    grid-template-areas: 
    "header header header"
    "map  vGutter sidebar"
    "hGutter vGutter sidebar"
    "bottombar vGutter sidebar";
}

header { 
    grid-area: header; 
}

map {
    grid-area: map;
    position: relative;
    margin-left: .25em;
}

sidebar {
    grid-area: sidebar;
    background-color: #FFF;
    margin-right: .25em;
    margin-bottom: .25em;
}

bottombar {
    grid-area: bottombar;
    background-color: #FFF;
    margin-left: .25em;
    margin-bottom: .25em;
}

h-gutter {
    grid-area: hGutter;
    width: 50px;
    background-color: $app-gray;
    // border: 1px solid $app-base;
    // margin-left: .25em;
    cursor: row-resize;
    margin: 0 auto;
}

v-gutter {
    grid-area: vGutter;
    height: 50px;
    background-color: $app-gray;
    // border: 1px solid $app-light;
    // margin-bottom: .25em;
    cursor: col-resize;
    margin-top: auto;
    margin-bottom: auto;
}