container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: .25em;
    grid-template-rows: 92px 1fr 350px;
    grid-template-columns: 1fr minmax(200px, 450px);
    grid-template-areas: 
    "header header"
    "map  sidebar"
    "bottombar sidebar";
}

header { 
    grid-area: header; 
}

map {
    grid-area: map;
    position: relative;
    margin-left: .25em;
}

sidebar {
    grid-area: sidebar;
    background-color: #FFF;
    margin-right: .25em;
    margin-bottom: .25em;
}

bottombar {
    grid-area: bottombar;
    background-color: #FFF;
    margin-left: .25em;
    margin-bottom: .25em;
}