container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: .25em;
    grid-template-rows: 92px 120px 1fr 2px 280px;
    grid-template-columns: 1fr 2px 500px;
    grid-template-areas: 
    "header     header      header"
    "map        vGutter     timebar"
    "map        vGutter     sidebar"
    "hGutter    hGutter     hGutter"
    "bottombar  bottombar   bottombar"
}

header { 
    grid-area: header; 
}

map {
    grid-area: map;
    position: relative;
    margin-left: .25em;
}

timebar {
    grid-area: timebar;
    background-color: #FFF;
    margin-bottom: .25em;
    margin-right: .25em;
}

sidebar {
    grid-area: sidebar;
    background-color: #FFF;
    margin-right: .25em;
    // margin-bottom: .4em;
    overflow-x: hidden;
    overflow-y: scroll;
}

bottombar {
    grid-area: bottombar;
    background-color: #FFF;
    margin-left: .25em;
    margin-bottom: .25em;
    margin-right: .25em;
    overflow: hidden;
}

/*otbchart {
    grid-area: otbchart;
    background-color: #FFF;
    margin-right: .25em;
    margin-bottom: .25em;
}*/

h-gutter {
    grid-area: hGutter;
    width: 80px;
    background-color: $app-gray;
    cursor: row-resize;
    margin: 0 auto;
    &:hover {
        background-color: $app-info;
    }
}

v-gutter {
    grid-area: vGutter;
    height: 80px;
    background-color: $app-gray;
    cursor: col-resize;
    margin-top: auto;
    margin-bottom: auto;
    &:hover {
        background-color: $app-info;
    }
}