.ol-control {
    border-radius: 1px !important;
    padding: 0px !important;
}

.ol-control button {
    font-size: 1.24em !important;
    height: 1.575em !important;
    width: 1.575em !important;
    background-color: $app-dark !important;
    opacity:0.85 !important;
}

.ol-control-button, .ol-zoom-in, .ol-zoom-out {
    background-color: $app-dark !important;
    opacity:0.85 !important;
}
  
.ol-zoom-in:hover{
    opacity:0.75 !important;
}
.ol-zoom-out:hover{
    opacity:0.75 !important;
}

.ol-attribution {
    font-size: 12px;
}

/* Custom control */
.ol-custom{
    z-index: 1000;
    top: 0.5em;
    right: 0.5em;
}

.ol-custom-panel{
    z-index: 999;
    visibility: visible;
    background-color:rgba(255,255,255,0.8) !important;
    color: $app-dark;
    width: auto;
    height: auto;
    top: 0.5em;
    right: 0.5em;
}

#timeline-panel {
    min-width: 550px;
    border-left: 3px solid $app-dark;
}