.ol-control {
    border-radius: 0px !important;
    padding: 0px !important;
}

.ol-control button {
    font-size: 1.24em !important;
    height: 1.575em !important;
    width: 1.575em !important;
    background-color: $app-dark !important;
    opacity:0.85 !important;
    border-radius: 0px !important;
}

.ol-control-button, .ol-zoom-in, .ol-zoom-out {
    background-color: $app-dark !important;
    opacity:0.85 !important;
}
  
.ol-zoom-in:hover{
    opacity:0.75 !important;
}
.ol-zoom-out:hover{
    opacity:0.75 !important;
}

.ol-attribution {
    font-size: 12px;
}

/* Custom control */
.ol-custom{
    z-index: 1000;
    top: 0.5em;
    right: 0.5em;
}

.ol-custom-panel{
    z-index: 999;
    visibility: visible;
    background-color:rgba(255,255,255,0.8) !important;
    color: $app-dark;
    width: auto;
    height: auto;
    top: 0.5em;
    right: 0.5em;
}

/*
#timeline-panel {
    min-width: 550px;
    border-left: 3px solid $app-dark;
}*/

.ol-custom-fullext {
    z-index: 100;
    top: 5em;
    left: 0.5em;
}

.ol-custom-select {
    z-index: 100;
    top: 7.5em;
    left: 0.5em;
}

/** Override stili popup ol-ext */
.ol-popup {
    h1 {
        font-size: 20px;
        font-weight: bold;
        color: $app-dark;
    }
}

.ol-popup.default > div {
    border:1px solid $app-dark !important;
    border-left: 3px solid $app-dark !important;
    border-radius: 1px !important;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    min-width: 300px;
  }

  .ol-popup.default .anchor {
    color: $app-dark !important;
  }

  .ol-popup .closeBox {
    background-color: $app-gray !important;
  }

  .ol-popup .closeBox:hover {
    background-color: $app-dark !important;
  }

  .ol-popupfeature {
      button {
          visibility: hidden;
      }
  }

  /** Override stili notification ol-ext */
  .ol-notification > div {
      border-radius: 0px !important;
      background-color: $app-dark !important;
  }